@namespace iPath.Blazor.Componenents.ServiceRequests
@using System.Threading.Tasks
@using iPath.Application.Features.ServiceRequests
@using iPath.Domain.Config

@inherits ServiceRequestViewComponentBase


@inject ISnackbar snackbar
@inject IJSRuntime JS
@inject IHttpClientFactory httpFactory
@inject IOptions<iPathConfig> opts

@if (vm.SelectedDocument is not null)
{
    OnShowingChildNode.InvokeAsync(true);
    <div class="ipath_image">
        @if (vm.SelectedDocument.IsImage)
        {
            <img src="@vm.SelectedDocument.FileUrl" @onclick="@vm.GoNext" />
        }
        else if (Wsi && vm.SelectedDocument.FileExtension == ".svs")
        {
            <div class="d-flex justify-center ipath_osd">
                <iPath.OpenSeadragon.OsdViewerIFrame ImagePath=@($"/files/{vm.SelectedDocument.Id}") Width="1000" Height="700" />
            </div>
        }
        else
        {
            <MudIcon Size="Size.Large" Icon="@vm.SelectedDocument.FileIcon" />
        }
        <div class="mt-2">
            <strong>@T["Download original"]:</strong> 
            <MudLink Target="_blank" Href="@vm.SelectedDocument.FileUrl">@vm.SelectedDocument.GalleryCaption.ShortenTo(50)</MudLink>
        </div>
    </div>
}
else
{
    OnShowingChildNode.InvokeAsync(false);
    <div class="ipath_section_header">
        <div class="ipath_header_title">Gallery</div>
        <div class="ipath_header_actions">
            <MudTooltip Text="Sort Images">
                <MudIcon Size="Size.Small" Icon="@Icons.Material.Rounded.PlaylistPlay" @onclick="ActivateSort" />
            </MudTooltip>
            <MudTooltip Text="Upload new Images">
                <MudIcon Size="Size.Small" Icon="@Icons.Material.Rounded.AttachFile" @onclick="ActivateUpload" />
            </MudTooltip>
        </div>
    </div>

    @if (vm.SelectedDocument != null)
    {
        @if (Sorting)
        {
            <NodeGallerySortable OnSortingFinished="SortingFinished" />
        }
        else if (Uploading)
        {
            <NodeGalleryDropZone />
            <MudButton Variant="Variant.Filled" OnClick="UploadingFinished" Class="my-4">Ok</MudButton>
        }
        else
        {
            <NodeGalleryView />
        }
    }
}

@code {
    [Parameter]
    public EventCallback<bool> OnShowingChildNode { get; set; }

    bool Wsi => true; // opts.Value.WsiViewerActive;

    private bool Sorting;
    private bool Uploading;

    string wsiSrc => $"wsi/{vm.SelectedDocument.Id}";

    public void ActivateSort()
    {
        Uploading = false;
        Sorting = true;
    }

    public void ActivateUpload()
    {
        Uploading = true;
        Sorting = false;
    }

    public async Task SortingFinished(bool sorted)
    {
        Sorting = false;
        StateHasChanged();
    }

    public async Task UploadingFinished()
    {
        Uploading = false;
        await vm.ReloadNode();
        StateHasChanged();
    }

    public void SignalStateChanged()
    {
        StateHasChanged();
    }
}