@page "/wsi/{id}"
@using Microsoft.Extensions.Configuration
@using iPath.Blazor.Componenents.Layouts

@attribute [ExcludeFromInteractiveRouting]

@layout WsiLayout
@inject IConfiguration config

<div id="osd" style="width: 1000px; height: 700px; background-color: black;"></div>

<div style="margin: 1em; color: white;">
    WSI viewer using <a href="https://openseadragon.github.io/">OpenSeadragon</a>
    <!--
    <string>Image: </string> <a href="@url">@url</a>
    -->
</div>


<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", (event) => {
        // alert("@url");
        const params = new URLSearchParams(window.location.search);
        const value = params.get('id');
        if ("@url".length > 10)
        {
            svs.loadImage('osd', "@url");
        }
    });
</script>


@code {
    [Parameter]
    public string id { get; set; }

    string errorMessage;

    string url
    {
        get
        {
            if (Guid.TryParse(id, out var nid))
            {
                var ret = config["BaseAddress"];
                if (!ret.EndsWith("/")) ret += "/";
                ret += "files/" + nid;
                return ret;
            }
            return string.Empty;
        }
    }

    
    string url_api => Guid.TryParse(id, out var nid) ? $"/api/v1/nodes/files{nid}" : "";
}