@namespace iPath.Blazor.Componenents.ServiceRequests
@inject IStringLocalizer T

<MudTable T="ServiceRequestListDto" ServerData="vm.GetNodeListAsync" @ref="table"
          HeaderClass="ipath_table_header"
          RowsPerPage="25" Bordered="false" Dense="true" Hover="true">
    <ToolBarContent>
        <MudToolBar>
            <MudTooltip Text=@T["create a new case"]>
                <MudIconButton Icon="@Icons.Material.Outlined.Add"
                               OnClick="vm.CreateNewCase" Disabled="vm.CreateNewCaseDisabled" />
            </MudTooltip>
            <MudTooltip Text=@T["export data"]>
                <MudIconButton Icon="@Icons.Material.Outlined.Save" Disabled=@(!gvm.IsModerator) />
            </MudTooltip>
            <MudTooltip Text=@T["Group Settings"]>
                <MudIconButton Icon="@Icons.Material.Outlined.Settings" OnClick="gvm.EditSettings" Disabled=@(!gvm.IsModerator) />
            </MudTooltip>
            <MudTooltip Text=@T["Delete all drafts in this group"]>
                <MudIconButton Icon="@Icons.Material.Outlined.DeleteForever" OnClick="DeleteDrafts" hidden=@(!gvm.IsAdmin) />
            </MudTooltip>
        </MudToolBar>
        <MudSpacer />
        <MudTextField @bind-Value="vm.SearchString"
                      @bind-Value:after=@(() => table.ReloadServerData())
                      Placeholder="Search" Clearable="true"
                      Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"
                      Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh Style="width: 60%;"><MudTableSortLabel SortLabel="Description.Title" T="ServiceRequestListDto">Title</MudTableSortLabel></MudTh>
        <MudTh Style="min-width: 50px;"></MudTh>
        <MudTh Style="width: 8rem;"><MudTableSortLabel SortLabel="Description.CaseType" T="ServiceRequestListDto">Type</MudTableSortLabel></MudTh>
        <MudTh Style="width: 8rem;"><MudTableSortLabel SortLabel="Owner" T="ServiceRequestListDto">Sender</MudTableSortLabel></MudTh>
        <MudTh Style="width: 12rem;"><MudTableSortLabel SortLabel="CreatedOn" T="ServiceRequestListDto" InitialDirection="SortDirection.Descending">Date</MudTableSortLabel></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Title" Class="ipath_node_title2" @onclick="@(() => vm.GotoNode(context))">
            <MudLink Href=@($"request/{context.Id}")>
                <MudHighlighter Text="@context.Title" HighlightedText="@vm.SearchString" Style="font-weight: bold;" />
            </MudLink>
            @if (@context.Description.BodySite is not null)
            {
                <span class="ml-1">(@context.Description.BodySite?.ToString())</span>
            }
            <MudHidden Breakpoint="Breakpoint.Xs">
                <div><MudHighlighter Text="@context.SubTitle" HighlightedText="@vm.SearchString" /></div>
            </MudHidden>
            <MudHidden Breakpoint="Breakpoint.SmAndUp">
                <div>
                    <b>@context.Owner.Username</b>, @context.CreatedOn.ToString("d")
                </div>
            </MudHidden>
        </MudTd>
        <MudTd HideSmall="true">
            <div class="d-flex justify-end flex-grow-1">
                @if (context.IsDraft)
                {
                    <MudTooltip Text=@T["Draft"]><MudIcon Icon=@Icons.Material.TwoTone.HourglassEmpty" /></MudTooltip>
                }
                else
                {
                    <MudIcon Icon=@context.IsNewIcon />
                }
                <MudIcon Icon=@context.HasNewAnnotationIcon />
            </div>
        </MudTd>
        <MudTd DataLabel="CaseType" Class="ipath_node_type2" HideSmall="true">
            <MudHighlighter Text="@context.Description.CaseType" HighlightedText="@vm.SearchString" /><br />
            <i>@context.Description.BodySite?.Code</i>
        </MudTd>
        <MudTd DataLabel="Owner" Class="ipath_node_sender2" HideSmall="true">
            @if (GroupId.HasValue)
            {
                <OwnerLink Owner="@context.Owner" />                
            }
            else
            {
                <GroupLink GroupId="@context.GroupId" />
            }
        </MudTd>
        <MudTd DataLabel="CreatedOn" Class="ipath_node_date2" HideSmall="true">
            @context.CreatedOn.ToString("d")<br />
            <MudHighlighter Text="@context.AccessionNo" HighlightedText="@vm.SearchString" Style="font-weight: bold;" />
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@inject ServiceRequestListViewModel vm
@inject GroupViewModel gvm

@code {
    [Parameter]
    public Guid? GroupId
    {
        get => vm.GroupId;
        set
        {
            vm.OwnerId = null;
            vm.GroupId = value;
        }
    }

    [Parameter]
    public Guid? OwnerId
    {
        get => vm.OwnerId;
        set
        {
            vm.OwnerId = value;
            vm.GroupId = null;
        }
    }

    MudTable<ServiceRequestListDto> table;

    async Task DeleteDrafts()
    {
        await gvm.DeleteDrafts();
        await table.ReloadServerData();
    }
}
