@page "/request/{id}/slideshow"

@using MudBlazor.Services
@using iPath.Application.Features.ServiceRequests
@using iPath.Blazor.Componenents.Layouts
@layout SlideshowLayout

@inherits ServiceRequestViewComponentBase
@inject IOptions<iPathClientConfig> opts

<MudFocusTrap DefaultFocus="DefaultFocus.Element">
    <MudSwipeArea Style="height: 100%; width: 100%; background-color: black;"
                  OnSwipeEnd="OnSwipeHandler"
                  @onkeydown="@((args) => OnKeyDown(args))">

        @if (vm.SelectedDocument is not null)
        {
            <div class="d-flex justify-center flex-grow-1 gap-2">
                <MudIconButton Icon="@Icons.Material.Filled.ArrowCircleLeft" Size="Size.Small" OnClick="GotoPrevious" />
                <MudIconButton Icon="@Icons.Material.Filled.ArrowCircleRight" Size="Size.Small" OnClick="GotoNext" />
                <MudIconButton Icon="@Icons.Material.Filled.Comment" Size="Size.Small" OnClick="@(() => vm.Annotate(vm.SelectedDocument))" />
                <MudIconButton Icon="@Icons.Material.Filled.CloseFullscreen" Size="Size.Small" OnClick="@(() => vm.GoUpRequestPage())" />
            </div>

            <div class="ipath_image slideshow">
                @if (vm.SelectedDocument.IsImage)
                {
                    <img src="@vm.SelectedDocument.FileUrl" class="ipath_image_slideshow"/>
                }
                else if (Wsi && vm.SelectedDocument.IsWSI)
                {
                    <div class="d-flex justify-center ipath_osd">
                        <iPath.OpenSeadragon.OsdViewerIFrame ImagePath=@($"/files/{vm.SelectedDocument.Id}") MaxHeight="700" />
                    </div>
                }
                else
                {
                    <MudIcon Size="Size.Large" Icon="@vm.SelectedDocument.FileIcon" />
                }
                <div class="mt-2">@vm.SelectedDocument.GalleryCaption.ShortenTo(80)</div>
            </div>
        }
    </MudSwipeArea>
</MudFocusTrap>

@code
{
    [Parameter]
    public string id { get; set; }

    bool Wsi => opts.Value.WsiViewerActive;
    Guid? lastId = null;

    protected override async Task OnParametersSetAsync()
    {
        if (!vm.IsRequestLoaded(id))
        {
            await vm.LoadNode(Guid.Parse(id));
        }
        if (!lastId.HasValue)
        {
            // select first images
            await SelectFirstSlide();
        }
    }

    async Task SelectFirstSlide()
    {
        if (vm.HasSlideShow)
        {
            vm.SelectDocument(vm.SelectedRequest.Documents.FirstOrDefault(n => n.IsSlide).Id);
            lastId = vm.SelectedDocument?.Id;
        }
        else
        {
            await vm.GoUpRequestPage();
        }
    }


    async Task OnSwipeHandler(SwipeEventArgs args)
    {
        if (args.SwipeDirection == SwipeDirection.RightToLeft)
        {
            await GotoNext();
        }
        else if (args.SwipeDirection == SwipeDirection.LeftToRight)
        {
            await GotoPrevious();
        }
        lastId = vm.SelectedDocument?.Id;
    }


    private async Task OnKeyDown(KeyboardEventArgs args)
    {
        var code = args.Code ?? string.Empty;

        if (code == "Space" || code == "ArrowRight")
        {
            await GotoNext();
        }
        else if (code == "ArrowLeft")
        {
            await GotoPrevious();
        }
        else if (code == "Escape")
        {
            await vm.GoUpRequestPage();
        }
        lastId = vm.SelectedDocument?.Id;
    }

    async Task GotoNext() => await vm.SelectNextSlide();
    async Task GotoPrevious() => await vm.SelectPreviousSlide();
}