@namespace iPath.Blazor.Componenents.Nodes

@inherits NodeViewComponentBase

@inject IJSRuntime JS


@**** Gallery View **********************************************@

<div class="sortableGallery">
    <div id="gallery" class="gallery" style="z-index: 20;">
        @foreach (var c in vm.SelectedNode.ChildNodes.OrderBy(c => c.SortNr))
        {
            <div class="gallery-item" data-id="@c.Id">
                @if (c.IsImage)
                {
                    <img src="@c.ThumbUrl()" alt="@c.GalleryCaption.ShortenTo(25)">
                }
                else
                {
                    <MudIcon Size="Size.Large" Icon="@c.FileIcon()" />
                    <br />
                }
                <div class="gallery-item-label">@c.File?.Filename.ShortenTo(12)</div>
            </div>
        }
    </div>
</div>

<div class="sortableGallery_footer" hidden="@HideSaveButtons">
    Drag images to change sort order
    <div>
        <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Filled" OnClick="SaveSortAsync">Save</MudButton>
        <MudButton ButtonType="ButtonType.Reset" Variant="Variant.Outlined" OnClick="CancelSort">Cancel</MudButton>
    </div>
</div>



@code {
    [Parameter]
    public EventCallback<bool> OnSortingFinished { get; set; }

    [Parameter]
    public bool HideSaveButtons { get; set; }

    private DotNetObjectReference<NodeGallerySortable> _dotNetHelper;
    private Dictionary<string, int> _SortOrder;
    private bool sortHasChanged = false;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _SortOrder = vm.SelectedNode.ChildNodes.Select(x => new { Key = x.Id.ToString(), Value = x.SortNr }).ToDictionary(i => i.Key, i => (i.Value ?? 0));
            _dotNetHelper = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("initializeSortable", "gallery", _dotNetHelper);
        }
    }


    [JSInvokable]
    public void UpdateSortOrder(List<string> newOrder)
    {
        foreach (var c in vm.SelectedNode.ChildNodes)
        {
            _SortOrder[c.Id.ToString()] = newOrder.IndexOf(c.Id.ToString()) + 1;
        }
        sortHasChanged = true;
        StateHasChanged();
    }


    public async Task SaveSortAsync()
    {
        var newSort = new Dictionary<Guid, int>();
        foreach (var c in vm.SelectedNode.ChildNodes)
        {
            c.SortNr = _SortOrder[c.Id.ToString()];
            newSort.Add(c.Id, c.SortNr.Value);
        }
        await vm.SaveChildNodeSortOrder(newSort);
        await OnSortingFinished.InvokeAsync(true);
    }

    async Task CancelSort()
    {
        await OnSortingFinished.InvokeAsync(false);
    }


    protected override void OnDisposed()
    {
        if (_dotNetHelper is not null)
        {
            try
            {
                _dotNetHelper.Dispose();
            }
            catch (JSDisconnectedException)
            {
            }
        }
    }
}
