@namespace iPath.Blazor.Componenents.Nodes

@inherits NodeViewComponentBase

@inject ISnackbar snackbar
@inject IDialogService srvDialog


@**** Gallery View **********************************************@
@if( vm.SelectedNode != null)
{ 
	<div class="gallery">
		@foreach (var c in vm.SelectedNode.ChildNodes.OrderBy(c => c.SortNr))
		{
			<div class="gallery-item" @onclick="@(() => OnChildClick(c))">

				<div class="gallery-contextmenu">
					<MudMenu FullWidth="true" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.TopCenter" TransformOrigin="Origin.TopCenter" Disabled="vm.EditDisabled">
						<ActivatorContent>
							<MudIcon Icon="@Icons.Material.Filled.MoreVert" Size="Size.Small" />
						</ActivatorContent>
						<ChildContent>
							<MudMenuItem Label="Delete" Disabled="vm.DeleteDisabled" OnClick=@(() => vm.Delete(c)) />
							<MudMenuItem Label="Edit" Disabled="vm.EditDisabled" OnClick=@(() => vm.Edit(c)) />
						</ChildContent>
					</MudMenu>
				</div>

				<MudTooltip>
					<TooltipContent>
						<b>Owner: </b> @c.Owner.Username - @c.CreatedOn.ToString("d")<br />
						<b>Filename: </b>@c.GalleryCaption
					</TooltipContent>
					<ChildContent>
						<GalleryImage Model="@c" />
					</ChildContent>
				</MudTooltip>
			</div>
		}
	</div>
}

@code {
	void OnChildClick(NodeDto child)
	{
		vm.NavigateToChilNode(child);
	}
}
