@namespace iPath.Blazor.Componenents.Nodes
@using System.Threading.Tasks
@using iPath.Domain.Config

@inherits NodeViewComponentBase


@inject ISnackbar snackbar
@inject IJSRuntime JS
@inject IHttpClientFactory httpFactory
@inject IOptions<iPathConfig> opts

@if (!vm.IsRootNodeSelected && vm.SelectedNode is not null && !vm.SelectedNode.ChildNodes.Any())
{
    OnShowingChildNode.InvokeAsync(true);
    <div class="ipath_image">
        @if (vm.SelectedNode.IsImage)
        {
            <img src="@vm.SelectedNode.FileUrl" @onclick="@vm.GoNext" />
        }
        else if (Wsi && vm.SelectedNode.FileExtension == ".svs")
        {
                <iframe id="wsiFrame"  title="WSI Viewer"
                        width="1200" height="720"
                        src="@wsiSrc">
                </iframe>
        }
        else
        {
            <MudIcon Size="Size.Large" Icon="@vm.SelectedNode.FileIcon" />
        }
        <div class="mt-2"><MudLink Target="_blank" Href="@vm.SelectedNode.FileUrl">@vm.SelectedNode.GalleryCaption.ShortenTo(50)</MudLink></div>
    </div>
}
else
{
    OnShowingChildNode.InvokeAsync(false);
    <div class="ipath_section_header">
        <div class="ipath_header_title">Gallery</div>
        <div class="ipath_header_actions">
            <MudTooltip Text="Sort Images">
                <MudIcon Size="Size.Small" Icon="@Icons.Material.Rounded.PlaylistPlay" @onclick="ActivateSort" />
            </MudTooltip>
            <MudTooltip Text="Upload new Images">
                <MudIcon Size="Size.Small" Icon="@Icons.Material.Rounded.AttachFile" @onclick="ActivateUpload" />
            </MudTooltip>
        </div>
    </div>

    @if (vm.SelectedNode != null)
    {
        @if (Sorting)
        {
            <NodeGallerySortable OnSortingFinished="SortingFinished" />
        }
        else if (Uploading)
        {
            <NodeGalleryDropZone />
            <MudButton Variant="Variant.Filled" OnClick="UploadingFinished" Class="my-4">Ok</MudButton>
        }
        else
        {
            <NodeGalleryView />
        }
    }
}

@code {
    [Parameter]
    public EventCallback<bool> OnShowingChildNode { get; set; }

    bool Wsi => true; // opts.Value.WsiViewerActive;

    private bool Sorting;
    private bool Uploading;

    string wsiSrc => $"wsi/{vm.SelectedNode.Id}";

    public void ActivateSort()
    {
        Uploading = false;
        Sorting = true;
    }

    public void ActivateUpload()
    {
        Uploading = true;
        Sorting = false;
    }

    public async Task SortingFinished(bool sorted)
    {
        Sorting = false;
        StateHasChanged();
    }

    public async Task UploadingFinished()
    {
        Uploading = false;
        await vm.ReloadNode();
        StateHasChanged();
    }

    public void SignalStateChanged()
    {
        StateHasChanged();
    }
}