@namespace iPath.Blazor.Componenents.Nodes

@inherits NodeViewComponentBase


@**** Gallery View **********************************************@

<AttachmentDropZone>
    <ActivatorContent>
        <div class="sortableGallery">
            <div id="gallery" class="gallery">
                @foreach (var c in vm.SelectedNode.ChildNodes.OrderBy(c => c.SortNr))
                {
                    <div class="gallery-item" data-id="@c.Id">
                        @if (c.IsImage)
                        {
                            <img src="@c.ThumbUrl()" alt="@c.GalleryCaption.ShortenTo(25)">
                        }
                        else
                        {
                            <MudIcon Size="Size.Large" Icon="@c.FileIcon()" />
                            <br />
                        }
                        <div class="gallery-item-label">@c.File?.Filename.ShortenTo(12)</div>
                    </div>
                }
            </div>
        </div>
    </ActivatorContent>
</AttachmentDropZone>


@code {
    [Parameter]
    public EventCallback<bool> OnUploadFinished { get; set; }
}
