@namespace iPath.Blazor.Componenents.Nodes

<MudTable T="NodeListDto" ServerData="vm.GetNodeListAsync"
          @ref="table" Class="ipath_table"
          RowsPerPage="25" Bordered="false" Dense="true" Hover="true">
    <ToolBarContent>
        <MudToolBar>
            <MudTooltip Text="create a new case">
                <MudIconButton Icon="@Icons.Material.Outlined.Add"
                               OnClick="vm.CreateNewCase" Disabled="vm.CreateNewCaseDisabled" />
            </MudTooltip>
            <MudTooltip Text="export data">
                <MudIconButton Icon="@Icons.Material.Outlined.Save" />
            </MudTooltip>
        </MudToolBar>
        <MudSpacer />
        <MudTextField @bind-Value="vm.SearchString"
                      @bind-Value:after=@(() => table.ReloadServerData())
                      Placeholder="Search" Clearable="true"
                      Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"
                      Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="Description.Title" T="NodeListDto">Title</MudTableSortLabel></MudTh>
        <MudTh></MudTh>
        <MudTh><MudTableSortLabel SortLabel="Description.CaseType" T="NodeListDto">Type</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="Owner" T="NodeListDto">Sender</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="CreatedOn" T="NodeListDto" InitialDirection="SortDirection.Descending">Date</MudTableSortLabel></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Title" Class="ipath_node_title2">
            <b>
                <MudLink Href=@($"/node/{context.Id}")>
                    <MudHighlighter Text="@context.Title" HighlightedText="@vm.SearchString" />
                </MudLink>
            </b>
            <div><MudHighlighter Text="@context.SubTitle" HighlightedText="@vm.SearchString" /></div>
        </MudTd>
        <MudTd Class="ipath_node_title2">
            <MudIcon Icon=@context.IsNewIcon />
            <MudIcon Icon=@context.HasNewAnnotationIcon />
        </MudTd>
        <MudTd DataLabel="CaseType">@context.NodeType</MudTd>
        <MudTd DataLabel="Owner" Class="ipath_node_sender2"><OwnerLink Owner="@context.Owner" /></MudTd>
        <MudTd DataLabel="CreatedOn" Class="ipath_node_date2">
            @context.CreatedOn.ToString("d")<br />
            @context.AccessionNo
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@inject NodeListViewModel vm

@code {
    [Parameter]
    public Guid? GroupId
    {
        get => vm.GroupId;
        set => vm.GroupId = value;
    }

    [Parameter]
    public Guid? OwnerId
    {
        get => vm.OwnerId;
        set => vm.OwnerId = value;
    }

    MudTable<NodeListDto> table;
}
