@namespace iPath.Blazor.Componenents.ServiceRequests

@inherits ServiceRequestViewComponentBase

<MudStepper Vertical ShowResetButton @ref="stepper"
            OnPreviewInteraction="wizzardVM.OnPreviewInteraction"
            CompleteButtonIcon="@Icons.Material.Filled.Send"
            @bind-ActiveIndex="wizzardVM.ActiveStepIndex">
    <ChildContent>
        <MudStep Title=@T["Body Site"] SecondaryText="@wizzardVM.TopoText"
                 HasError="@(wizzardVM.Step1Complete == false)">
            <MudGrid>
                <MudItem xs="12" sm="6">
                    <IPathHeader Typo="Typo.subtitle1" Title=@T["Body Region / Organ"] />
                    <MudTreeView T="CodeDisplay" Hover="true" Dense="true" @bind-SelectedValue="wizzardVM.Organ">
                        @if (wizzardVM.RootCodes is not null)
                        {
                            @foreach (var i in wizzardVM.RootCodes)
                            {
                                <MudTreeViewItem Value="i">
                                    <BodyContent>
                                        <div class="ipath_coding_grouplistitem">
                                            <div class="ipath_coding_grouplist_code">@i.Code</div>
                                            <div class="ipath_coding_grouplist_display">@i.Display </div>
                                        </div>
                                    </BodyContent>
                                </MudTreeViewItem>
                            }
                        }
                        else
                        {
                            <div style="padding: 4px;">
                                <MudProgressCircular Indeterminate="true" Size="Size.Small" />
                                <span>Loading ICD-O codes ... </span>
                            </div>
                        }
                    </MudTreeView>
                </MudItem>
                <MudItem xs="12" sm="6">
                    <IPathHeader Typo="Typo.subtitle1" Title=@T["Body Site / Topography"]>
                        <ActionContent>
                            <MudTooltip Placement="Placement.Left">
                                <ChildContent>
                                    <MudToggleIconButton @bind-Toggled="wizzardVM.TopoAutoSelect" Size="Size.Small"
                                                         Icon="@Icons.Material.Filled.PlaylistAddCheck"
                                                         Color="@Color.Default"
                                                         ToggledIcon="@Icons.Material.Filled.PlaylistAddCheckCircle"
                                                         ToggledColor="@Color.Success" />
                                </ChildContent>
                                <TooltipContent>
                                    <div style="max-width: 240px;">
                                        <MudText Typo="Typo.subtitle1">@T["Auto Select"]</MudText>
                                        <MudText Typo="Typo.body2">@T["Continue directly to patient info when body site is selected."]</MudText>
                                        <div class="mt-4">
                                            <MudIcon Icon="@Icons.Material.Filled.PlaylistAddCheckCircle" /> ON
                                            <MudIcon Icon="@Icons.Material.Filled.PlaylistAddCheck" Class="ml-8" /> OFF
                                        </div>
                                    </div>
                                </TooltipContent>
                            </MudTooltip>
                        </ActionContent>
                    </IPathHeader>
                    @if (wizzardVM.Organ is null)
                    {
                        <MudText>@T["please select a body region"]</MudText>
                    }
                    <CodingTree @bind-Value="@wizzardVM.Topo" @bind-Value:after="OnTopoSelected"
                                TreeItems="@wizzardVM.BodySiteCodes" ExpandOnClick="true" />
                </MudItem>
            </MudGrid>
        </MudStep>

        <MudStep Title=@T["Patient information"] SecondaryText="@wizzardVM.PatientText"
                 HasError="@(wizzardVM.Step2Complete == false)">

            <MudStack>
                <MudGrid Spacing="1">
                    <MudItem xs="6" sm="@PatInfoFieldSmWith">
                        <MudTextField Label=@T["Accession No"] @bind-Value="@wizzardVM.Data.AccessionNo"
                                      Placeholder=@T["your reference- or lab-number"]
                                      Variant="Variant.Outlined" ShrinkLabel="true" Margin="Margin.Dense" />
                    </MudItem>
                    <MudItem xs="6" sm="@PatInfoFieldSmWith">
                        <GenderSelect Label=@T["Gender"] @bind-Value="@wizzardVM.Data.PatientInfo.Gender"
                                      Required="true" Dense="true"
                                      Variant="Variant.Outlined" ShrinkLabel="true" Margin="Margin.Dense" />
                    </MudItem>
                    <MudItem xs="6" sm="@PatInfoFieldSmWith">
                        <MudNumericField @bind-Value="@wizzardVM.Data.PatientInfo.Age" Label=@T["Age (years)"]
                                         Required="true" Min="0" Max="199"
                                         Variant="Variant.Outlined" ShrinkLabel="true" Margin="Margin.Dense" />
                    </MudItem>

                    @if (wizzardVM.CaseTypeActive)
                    {
                        @if (wizzardVM.CaseTypes.IsEmpty())
                        {
                            <MudTextField Label=@T["Case Type"] @bind-Value="@wizzardVM.Data.CaseType"
                                          Variant="Variant.Outlined" Margin="Margin.Dense" ShrinkLabel="true" />
                        }
                        else
                        {
                            <MudItem xs="6" sm="@PatInfoFieldSmWith">
                                <CaseTypeLookup Label=@T["Case Type"] GroupId="wizzardVM.GroupId" @bind-Value="wizzardVM.Data.CaseType"
                                                Clearable="true" Dense="true" CoerceValue="true"
                                                Variant="Variant.Outlined" ShrinkLabel="true" Margin="Margin.Dense" />
                            </MudItem>
                        }
                    }
                </MudGrid>

                <!--
                <MudText Typo="Typo.subtitle1" Class="mt-4">@T["Clinical Information"]</MudText>
                -->
                @if (wizzardVM.Data.Questionnaire is not null)
                {
                    @if (wizzardVM.validForms.Count > 1)
                    {
                        <MudStack Row AlignItems="AlignItems.Center" Class="mt-2">
                            <MudText>Case Submittion Forms</MudText>
                            <MudToggleGroup Color="Color.Default" T="QuestionnaireForGroupDto" Size="Size.Small"
                                            @bind-Value="@wizzardVM.SelectedQ" @bind-Value:after="@wizzardVM.LoadQuestionnaireForm">
                                @foreach (var q in wizzardVM.validForms)
                                {
                                    <MudToggleItem Value="@q" />
                                }
                            </MudToggleGroup>
                        </MudStack>
                    }

                    <iPath.LHCForms.LhcForm @ref="qrForm" ReadOnly="false" OnAfterRendered="wizzardVM.LoadQuestionnaireForm" />

                    <MudTextField @bind-Value="@wizzardVM.Data.Text" Label=@T["Additional comments"]
                                  Lines="3" Required="false" class="mt-4"
                                  HelperText=@T["please make sure it does not contain any sensitive patient details like name or exact date of birth"]
                                  Variant="Variant.Outlined" ShrinkLabel="true" Margin="Margin.Dense" />
                }
                else
                {
                    <MudTextField @bind-Value="@wizzardVM.Data.Text" Label=@T["Clinical History"]
                                  Lines="3" Required="true"
                                  HelperText=@T["please make sure it does not contain any sensitive patient details like name or exact date of birth"]
                                  Variant="Variant.Outlined" ShrinkLabel="true" Margin="Margin.Dense" />
                }
            </MudStack>
        </MudStep>

        <MudStep Title="Upload Images">
            <GalleryDropZone />

            <MudSwitch @bind-Value="wizzardVM.SaveAsDraft" Color="Color.Warning" Label=@T["Save as Draft (not published in group yet)"] />
        </MudStep>
    </ChildContent>
    <CompletedContent>
        <MudText Typo="Typo.h6">@T["next steps"]</MudText>
        <MudDivider />
        <MudStack Row Spacing="4" Class="mt-4 mb-10">
            <MudButton Color="Color.Primary" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Create" OnClick="Reset">@T["Create another Request"]</MudButton>
            <MudButton Variant="Variant.Filled" OnClick="vm.GoUp" StartIcon="@Icons.Material.Filled.List">@T["Back to list"]</MudButton>
            <MudSpacer />
        </MudStack>
    </CompletedContent>
</MudStepper>




@implements IDisposable
@inject IServiceProvider sp
@inject IStringLocalizer T

@code {
    [Parameter, EditorRequired]
    public string ValueSetId { get; set; }

    [Parameter, EditorRequired]
    public string CodingService { get; set; } = "";


    [Parameter]
    public bool NeedFullTopo
    {
        get => wizzardVM.NeedFullTopo;
        set => wizzardVM.NeedFullTopo = value;
    }

    private ServiceRequestCreateWizzardViewModel wizzardVM;

    private int PatInfoFieldSmWith => wizzardVM.CaseTypeActive ? 3 : 4;

    string AutoSelectText => wizzardVM.TopoAutoSelect ? T["auto-select ON"] : T["auto-select OFF"];

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await InitializeVm();
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        if (!string.IsNullOrEmpty(ValueSetId))
        {
            await InitializeVm();
        }
    }

    async Task InitializeVm()
    {
        if (wizzardVM is null && RendererInfo.IsInteractive)
        {
            wizzardVM = new ServiceRequestCreateWizzardViewModel(sp, vm);
            wizzardVM.OnInitialized += StateHasChanged;
            wizzardVM.OnComplete += OnCompleted;

            if (!string.IsNullOrEmpty(ValueSetId))
            {
                await wizzardVM.InitializeAsync(CodingService, ValueSetId);
            }
        }
    }

    public void Dispose()
    {
        wizzardVM.OnInitialized -= StateHasChanged;
        wizzardVM.OnComplete -= OnCompleted;
    }

    bool isComplete = false;

    void OnCompleted()
    {
        isComplete = true;
        InvokeAsync(StateHasChanged);
    }


    MudStepper stepper;



    async Task Reset()
    {
        await vm.CreateNewNode(vm.ActiveGroup.Id);
        await stepper.ResetAsync();
    }

    iPath.LHCForms.LhcForm qrForm
    {
        get => field;
        set
        {
            field = value;
            wizzardVM.QuestionnaireViewer = field;
        }
    }
    private async Task OnTopoSelected()
    {
        if (wizzardVM.TopoAutoSelect && wizzardVM.Topo is not null && wizzardVM.Topo.Children.IsEmpty())
        {
            await stepper.NextStepAsync();
        }
    }
}