@page "/admin/system"
@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Options
@using iPath.Application.Features.ServiceRequests
@using iPath.Domain.Config

@attribute [ExcludeFromInteractiveRouting]
@attribute [Authorize(Roles = "Admin")]


<IPathHeader Title="System Satus" />
<b>@RendererInfo.Name @RendererInfo.IsInteractive</b>
<p>max filesize: @clopts.Value.MaxFileSize = @clopts.Value.MaxFileSizeBytes Bytes</p>
<MudDivider />

<p>
    <b>Temp Path: </b>
    <span>@opts.Value.TempDataPath</span>
    @if (TempDataPathExists)
    {
        <MudIcon Icon="@Icons.Material.Filled.Check" />
    }
</p>

<p>
    <b>Data Path: </b>
    <span>@opts.Value.LocalDataPath</span>
    @if (LocalDataPathExists)
    {
        <MudIcon Icon="@Icons.Material.Filled.Check" />
    }
</p>

<MudDivider />

<MudDataGrid Items="cfg.AsEnumerable()" Dense="true" Striped="true">
    <Columns>
        <PropertyColumn Property="x => x.Key" />
        <PropertyColumn Property="x => x.Value" />
    </Columns>
</MudDataGrid>

@inject IOptions<iPathConfig> opts
@inject IOptions<iPathClientConfig> clopts
@inject IConfiguration cfg;


@code {
    bool TempDataPathExists;
    bool LocalDataPathExists;


    protected override async Task OnInitializedAsync()
    {
        TempDataPathExists = System.IO.File.Exists(opts.Value.TempDataPath);
        LocalDataPathExists = System.IO.File.Exists(opts.Value.LocalDataPath);
    }
}
