@page "/admin/questionnaires/{id}"
@page "/admin/questionnaires/{id}/{mode}"
@using System.Threading.Tasks
@using iPath.Domain.Entities.Base

@inject QuestionnaireAdminViewModel vm

<MudBreadcrumbs Items="vm.BreadCrumbs" Class="mt-0 pt-0"></MudBreadcrumbs>



@if (vm.SelectedQuestionnaire is null)
{
    <IPathHeader Title=@T["Questionnaire Administration"] />
}
else
{
    <!--
    <IPathHeader Title=@($"{vm.SelectedQuestionnaire.Name}, Version={vm.SelectedQuestionnaire.Version}")>
        <ActionContent>
            <MudFab StartIcon="@Icons.Material.Filled.Backspace" Href="admin/questionnaires" Size="Size.Small" />
        </ActionContent>
    </IPathHeader>
    -->

    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true"
             TabPanelsClass="pa-6"
             Color="Color.Info" IconColor="Color.Surface"
             @bind-ActivePanelIndex="panelIndex">
        <MudTabPanel Text=@T["Settings"] Icon="@Icons.Material.Filled.Settings">
            <MudForm Model="@Model" Spacing="4">
                <MudStack Row Spacing="0">
                    <MudTextField @bind-Value="@Model.QuestionnaireId" Label=@T["Id"] ShrinkLabel="true" Required="true"
                                  Variant="Variant.Outlined" Disabled="true" Margin="Margin.Dense" />
                    <MudCheckBox @bind-Value="@Model.IsActive" Label=@T["active"] />
                </MudStack>

                <MudTextField @bind-Value="@Model.Name" Label=@T["Name"] ShrinkLabel="true" Required="true" Variant="Variant.Outlined" />


                <MudStack Row Class="mt-2">
                    <MudTextField @bind-Value="Model.ResourceFileName" Label=@T["Quesiotnnaire File"] ReadOnly="true" ShrinkLabel="true" />
                    <MudFileUpload T="IBrowserFile" @bind-Files="Model.ResourceFile" OnFilesChanged="UploadFile">
                        <ActivatorContent>
                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       StartIcon="@Icons.Material.Filled.FileUpload">
                                FHIR
                            </MudButton>
                        </ActivatorContent>
                    </MudFileUpload>
                    <a href=@($"api/v1/fhir/Questionnaire/{Model.Id}")>
                        <MudButton StartIcon="@Icons.Material.Filled.Download" Color="Color.Primary" Variant="Variant.Filled">Download</MudButton>
                    </a>
                </MudStack>

                <MudTextField @bind-Value="@Model.Resource" Label=@T["FHIR Resource"] Variant="Variant.Outlined"
                              Lines="10" Margin="Margin.Dense" Typo="Typo.body2" />
            </MudForm>
        </MudTabPanel>
        <MudTabPanel Text=@T["Filter"] Icon="@Icons.Material.Filled.Filter">
            <TopoTreeFilter @bind-Filter="@Model.Settings.BodySiteFilter" @ref="_topoTree" />
        </MudTabPanel>
        <MudTabPanel Text=@T["Preview"] Icon="@Icons.Material.Filled.Preview">
            <iPath.LHCForms.LhcForm @ref="vm.PreviewForm" ReadOnly="false"
                                    Questionnaire="@Model.Resource" />

            <MudDivider Class="my-2" />
            <MudButton OnClick="CreateText" Variant="Variant.Filled">To Text</MudButton>
            @text
        </MudTabPanel>
    </MudTabs>


    <MudStack Row Class="mt-2">
        <ProgressButton Text="Save" Icon="@Icons.Material.Filled.Save" OnClick="Save" />
        <MudButton Variant="Variant.Filled" OnClick="ReloadModel">Cancel</MudButton>
    </MudStack>
}


@code {
    [Parameter]
    public string id { get; set; }

    [Parameter]
    public string mode { get; set; }

    QuestionnaireEntity q;
    EditQuestionnaireModel Model { get; set; } = new();
    // ConceptFilter BodySiteFilter = new();
    int panelIndex = 0;

    TopoTreeFilter _topoTree;
    string text;

    protected override async Task OnParametersSetAsync()
    {
        if (Guid.TryParse(id, out var guid))
        {
            await vm.Load(guid);
            Model = new EditQuestionnaireModel(vm.SelectedQuestionnaire);
        }
        panelIndex = mode switch
        {
            "preview" => 2,
            "filter" => 1,
            _ => 0
        };
        StateHasChanged();
    }

    async Task Save()
    {
        Model.Settings ??= new();
        // Model.Settings.BodySiteFilter = BodySiteFilter;

        if (_topoTree is not null)
        {
            _topoTree.SaveFilter();
            Model.Settings.BodySiteFilter = _topoTree.Filter;
        }

        await vm.Save(Model);
    }

    private void ReloadModel(MouseEventArgs args)
    {
        if (vm.SelectedQuestionnaire is not null)
            Model = new EditQuestionnaireModel(vm.SelectedQuestionnaire);
    }

    private async Task UploadFile(InputFileChangeEventArgs args)
    {
        var res = await vm.UploadFile(args, Model);
        if (res.IsFailed)
        {
            snackbar.AddError(res.Errors.FirstOrDefault().Message);
        }
        StateHasChanged();
    }

    private async Task CreateText(MouseEventArgs args)
    {
        text = await vm.GetPreviewText();
    }
}