@page "/"
@using iPath.Application.Features
@using iPath.Application.Features.ServiceRequests
@using iPath.Application.Features.Users
@using iPath.Blazor.Componenents.Shared.Lookups

<PageTitle>iPath.NET</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">iPath.NET</MudText>


<MudPaper Width="100%" Elevation="0">
    @if (RendererInfo.IsInteractive)
    {
        @if (ShowLoginButtons)
        {
            <MudButton StartIcon="@Icons.Material.Filled.Login" Href="Account/Login" Variant="Variant.Filled" Color="Color.Primary">@T["Login"]</MudButton>
            <MudButton StartIcon="@Icons.Material.Filled.Person" Href="Account/Register" Variant="Variant.Filled" Color="Color.Primary">@T["Sign Up"]</MudButton>
        }

        @if (ShowProfileCompletion)
        {
            <MudAlert Severity="Severity.Warning" Class="my-8 pa-2">
                <MudText Typo="Typo.body1">
                    @T["You have not yet completed your Profile. Please fill in your data"]
                </MudText>
                <MudButton Class="mt-2" StartIcon="@Icons.Material.Filled.Person" Href="user/profile" Variant="Variant.Filled" Color="Color.Secondary">@T["My Profile"]</MudButton>
            </MudAlert>
        }

        @if (ShowUserLinks)
        {
            <div class="mt-10">more to follow here ...</div>
        }


    }
    else
    {
        <div>
            <MudProgressCircular Indeterminate="true" Color="Color.Primary" Size="Size.Medium" Thickness="6" />
            loading ...
        </div>
    }
</MudPaper>

<MudDivider Class="m-y10" />

<MudText Typo="Typo.h6" Class="mt-15" GutterBottom="true">Version Information</MudText>

<MudText>
    This iPath.NET software was written in .NET 10 Framework with the help of
    <MudLink Href="https://mudblazor.com/" Target="_blank">MudBlazor UI components</MudLink>,
    and the <MudLink Href="https://lhncbc.nlm.nih.gov/LHC-research/LHC-projects/health-information/lhc-forms.html" Target="_blank">LHC-Forms Widget from NLM</MudLink>.
</MudText>


<MudText Class="mt-2">
    Source Code published under MIT License on GitHub:
    <MudLink Href="https://github.com/brauchlik/iPath.NET" Target="_blank">iPath.NET</MudLink>
</MudText>
