@page "/node/{id}/slideshow"

@using MudBlazor.Services
@using iPath.Blazor.Componenents.Layouts
@layout SlideshowLayout

@inherits NodeViewComponentBase

<MudFocusTrap DefaultFocus="DefaultFocus.FirstChild">
    <div style="height: 100%; width: 100%; background-color: black;"
         @onkeydown="@((args) => OnKeyDown(args))" 
         @onclick="@(() => vm.SelectNextImage())">

        @if (vm.SelectedNode is not null)
        {
            <div class="d-flex justify-center flex-grow-1 gap-4 mb-10">
                <MudIconButton Icon="@Icons.Material.Filled.ArrowLeft" Size="Size.Small" OnClick="@(() => vm.SelectPreviousImage())" />
                <MudIconButton Icon="@Icons.Material.Filled.ArrowRight" Size="Size.Small" OnClick="@(() => vm.SelectNextImage())" />
                <MudIconButton Icon="@Icons.Material.Filled.Comment" Size="Size.Small" OnClick="@(() => vm.Annotate(vm.SelectedNode.Id))" />
                <MudIconButton Icon="@Icons.Material.Filled.Close" Size="Size.Small" OnClick="@(() => vm.GoUp())" />
            </div>

            <div class="ipath_image">
                @if (vm.SelectedNode.IsImage)
                {
                    <img src="@vm.SelectedNode.FileUrl" />
                }
                else
                {
                    <MudIcon Size="Size.Large" Icon="@vm.SelectedNode.FileIcon" /> 
                }
                <div class="mt-2">@vm.SelectedNode.GalleryCaption.ShortenTo(50)</div>
            </div>
        }
        else
        {
            vm.GoUp();
        }
    </div>
</MudFocusTrap>

@code
{
    [Parameter]
    public string id { get; set; }



    protected override async Task OnParametersSetAsync()
    {
        await vm.LoadNode(Guid.Parse(id));

        // select first images
        if (vm.HasImages)
        {
            vm.SelectChilNode(vm.RootNode.ChildNodes.FirstOrDefault(n => n.IsImage).Id);
        }
        else
        {
            await vm.GoUp();
        }
    }



    private async Task OnKeyDown(KeyboardEventArgs args)
    {
        var code = args.Code ?? string.Empty;

        if (code == "Space" || code == "ArrowRight")
        {
            await vm.SelectNextImage();
        }
        else if (code == "ArrowLeft")
        {
            await vm.SelectPreviousImage();
        }
        else if (code == "Escape")
        {
            await vm.GoUp();
        }
    }

}