@namespace iPath.Blazor.Componenents.Shared

<MudCard Class="@Class">
    <MudCardHeader Class="mud-theme-info">
        <MudText Typo="Typo.subtitle2">Site news</MudText>
    </MudCardHeader>
    <MudCardContent>
        @foreach (var n in LatestNews)
        {
            <div class="ipath_news_block">
                <div class="ipath_news_title">@n.Title <span class="ipath_news_author">(by @n.Owner.Username at @n.CreatedOn.ToShortDateString())</span></div>
                <div class="ipath_news_body">@((MarkupString)n.Body)</div>
            </div>
        }
    </MudCardContent>
</MudCard>


@inject IPathApi api

@code {
    [Parameter]
    public string Class { get; set; }


    List<WebContentDto> LatestNews = new();

    protected override async Task OnInitializedAsync()
    {
        var query = new GetWebContentsQuery { PageSize = 5 };
        var resp = await api.GetWebContent(query);
        LatestNews = resp.Content.Items.ToList();
    }
}
